html, body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

:root {
    --color-btn: #F46632;
    --color-black-section: #101010;
    --body-color: #FAFAFA;
}
.section-title{
    font-size: 3.2rem;
    text-align: center;
    z-index: 2;
}
.section-title-background{
    font-size: 15rem;
    opacity: 0.05%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}