html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: black;
}

:root {
  --color-btn: #f46632;
  --color-black-section: #070404;
  --body-color: #161212;
}
.section-title {
  font-size: 3.2rem;
  text-align: center;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.section-title-background {
  font-size: 15rem;
  opacity: 0.5;
  position: relative;
  transform: translateX(-50%);
  z-index: 0;
  color: #101010;
  top: 0;
}

.container {
  max-width: 84%;
  margin: 0 auto;
}

.name-title {
  position: relative;
  padding-top: 2rem;
}

.name-title h1:first-child {
  font-size: 3.2rem;
  text-align: center;
  transform: translateY(70%);
  z-index: 1001;
  color: #101010;
}

.name-title h1:last-child {
  font-size: 15rem;
  text-align: center;
  opacity: 0.05;
  transform: translateY(-50%);
  z-index: 1000;
  color: black;
}

.white-spacing {
  height: 20rem;
}

.white-spacing-1 {
  height: 12.8rem;
}

.bg-color-ws {
  background-color: #fafafa;
}

.course-title-name {
  font-size: 1.2rem;
}
