.section1 {
    // border: 1px solid red;
    padding-top: 7em;
    .title {
        position: relative;
        text-align: center;
        h1 {
            font-size: 10rem;
            color: #000;
            opacity: 7%;
        }
        h5 {
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-size: 3rem;
            z-index: 1;
        }
    }
    .projects__cols {
        display: flex;
        gap: 1em;
        .left{
            padding-right: 15em;
            h1{
                margin-bottom: 3rem;
                color: #101010;
                font-size: 3.5rem;
                position: relative;
                padding-left: 0.7em;
            }
            h1:after{
                content: "";
                position: absolute;
                width: 0.6em;
                height: 0.6em;
                border-radius: 50%;
                background-color: #101010;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            p{
                font-size: 2rem;
                color: #101010;
                line-height: 5.6rem;
            }
            ul{
                margin-top: 6em;
                li{
                    img{
                        width: 2.5rem;
                        height: 2.5rem;

                        vertical-align: middle;
                    }
                    font-size: 1.6rem;
                    margin-bottom: 3rem;
                }
            }
            p:last-child{
                display: inline;
                padding: 1em;
                border-radius: 1.6rem;
                background-color: #f5f5f5;
                color: #101010;
                font-size: 2rem;
            }
        }
        .right {
            width: 611px;
            flex-shrink: 1;
            position: relative;
            .big__photo{
                height: 719px;
            }
    
            .icon1 {
                position: absolute;
                bottom: 10rem;
                left: 0;
                color: #000;
                bottom: 18em;
            }
            .icon2 {
                position: absolute;
                bottom: 10rem;
                right: 3em;
                bottom: 18em;
            }
        }
        
    }
}
.section2{
    padding-left: 7%;
    padding-right: 7%;
    background-color: #FAFAFA;
    div:nth-child(2){
        .start__end{
            display: inline-block;
            width: 100%;
            margin-top: 4em;
            display: flex;
            justify-content: space-around;
            padding: 1em;
            margin-bottom: 3em;
            // border: 1px solid red;
            span{
                font-size: 2.4rem;
                font-weight: 700;
                vertical-align: middle;
            }
        }
        .dates{
            display: flex;
            align-items: center;
            justify-content: space-between;
            >span{
                justify-content: space-between;
                padding: 4rem 7.8rem;
                font-size: 4rem;
                font-weight: bold;
                display: inline-block;
                border-radius: 3rem;
                box-shadow: 40px 40px 99px 30px rgba(172, 172, 172, 0.16);
            }
        }
        .register{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3em;
            span:first-child{
                display: inline-block;
                padding: 10px;
                background-color: #101010;
                color: #fff;
                border-radius: 0.4em;
                font-size: 2rem;
            }
            span:nth-child(2){
                font-size: 3rem;
                font-weight: 600;

                color: #101010;
            }
            a{
                display: inline-block;
                padding: 10px;
                background-color: #F46632;
                color: #fff;
                font-size: 2rem;
                border-radius: 0.4em;
                cursor: pointer;


            }
        }
    }
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5em 0;
    .icons{
        font-size: 3rem;
        i:not(:last-child){
            margin-right: 1em;
        }

    }
    .contact__nums{
        font-size: 2rem;
    }
}